.ds-pagination {
  span {
    transition: all 0.25s linear;
    cursor: pointer;

    &:hover,
    &.active {
      background-color: var(--primary-color);
      color: var(--ds-color-text-primary);
    }
  }
}
