.ds-footer {
  --footer-background-color: var(--primary-color);

  height: 72px;
  background-color: var(--footer-background-color);
  color: var(--ds-color-text-primary);

  div {
    height: 72px;
    color: var(--ds-color-text-primary);
    a {
      color: var(--ds-color-text-primary);
      text-decoration: underline;
    }
  }
}
