.ds-button {
  border: solid 1px transparent;
  box-shadow: var(--shadow);
  transition: all 0.25s linear;
  line-height: 1;
  position: relative;
  height: var(--ds-button-height, 40px);
  font-weight: 700;
  align-items: center;

  .root {
    width: 100%;
    display: inline-flex;
    height: 100%;
    padding: 0 var(--ds-button-padding-horizontal);
    justify-content: center;
    align-items: center;

    &.fade-out {
      opacity: 0;
    }
  }

  .root > span {
    display: inline-flex;
    align-items: center;
  }

  &__text {
    margin: 0 0.5em;
    font-size: var(--ds-button-font-size, 16px);
  }

  &__icon {
    line-height: 0.5;
    font-size: 1.5em;
  }
  svg {
    height: 1em;
  }

  &:disabled {
    background-color: var(--gray-color-lighter);
    color: var(--gray-color-dark);
    cursor: not-allowed;
  }

  &[ds-primary='true'] {
    background-color: var(--ds-button-color-primary-background);
    color: var(--ds-button-color-primary-foreground, #212429);
    &:hover {
      background-color: var(--primary-color-dark);
    }

    &:focus {
    }

    &:not([ds-hollow='true']) .ds-loading {
      border-top: 0.25em solid rgba(255, 255, 255, 0.15);
      border-right: 0.25em solid rgba(255, 255, 255, 0.15);
      border-bottom: 0.25em solid rgba(255, 255, 255, 0.15);
      border-left: 0.25em solid rgba(255, 255, 255, 1);
    }
  }

  &[ds-secondary='true'] {
    background-color: var(--ds-button-color-secondary-background);
    color: var(--primary-color);
    border-color: var(--primary-color);
    &:hover {
      background-color: var(--secondary-color-dark);
    }

    &:focus {
    }
  }

  &.loading {
    .ds-loading {
      position: absolute;
      transform: translateX(-23px);
      left: calc(50% - 1.75em);
    }

    .ds-loading,
    .ds-loading:after {
      width: 2.5em;
      height: 2.5em;
    }
  }

  &[ds-destructive='true'] {
    background-color: var(--error-color);
    color: var(--light-text-color, #fff);

    .ds-loading {
      border-top: 0.25em solid rgba(255, 255, 255, 0.15);
      border-right: 0.25em solid rgba(255, 255, 255, 0.15);
      border-bottom: 0.25em solid rgba(255, 255, 255, 0.15);
      border-left: 0.25em solid rgba(255, 255, 255, 1);
    }

    &:hover {
    }

    &:focus {
    }
  }

  &[ds-hollow='true'] {
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
    &:hover {
      background-color: var(--primary-color);
      border-color: var(--primary-color);
      color: var(--ds-button-color-primary-foreground, #fff);
    }

    &:focus {
    }
  }

  &.display-block {
    width: 100%;
  }

  &.submit {
  }

  &[ds-size='small'] {
    font-size: 0.75em;
  }

  &[ds-size='medium'] {
    font-size: 1em;
  }

  &[ds-size='large'] {
    font-size: 1.25em;
  }

  &.icon {
    &.left {
    }

    &.right {
    }
  }
}
