.ds-button {
  border: solid 1px transparent;
  box-shadow: var(--shadow);
  transition: all 0.25s linear;
  line-height: 1;
  position: relative;
  height: var(--ds-button-height, 40px);
  font-weight: 700;

  .root {
    width: 100%;
    display: inline-flex;
    height: 100%;
    padding: 0 var(--ds-button-padding-horizontal);
    justify-content: center;

    &.fade-out {
      opacity: 0;
    }
  }

  .root > span {
    display: inline-flex;
    align-items: center;
  }

  &__text {
    margin: 0 0.5em;
    font-size: var(--ds-button-font-size, 16px);
  }

  &__icon {
    line-height: 0.5;
    font-size: 1.5em;
  }
  svg {
    height: 1em;
  }

  &:disabled {
    background-color: var(--gray-color-lighter);
    color: var(--gray-color-dark);
    cursor: not-allowed;
  }

  &[ds-primary='true'] {
    background-color: var(--ds-button-color-primary-background);
    color: var(--ds-button-color-primary-foreground, #212429);
    &:hover {
      background-color: var(--primary-color-dark);
    }

    &:focus {
    }
  }

  &[ds-secondary='true'] {
    background-color: var(--ds-button-color-secondary-background);
    color: var(--ds-button-color-secondary-foreground, #fff);
    &:hover {
      background-color: var(--secondary-color-dark);
    }

    &:focus {
    }
  }

  &.loading {
  }

  &.destructive {
    &:hover {
    }

    &:focus {
    }
  }

  &[ds-hollow='true'] {
    background-color: transparent;
    color: var(--text-color-default);
    border-color: var(--text-color-default);
    &:hover {
      background-color: var(--primary-color);
      color: var(--ds-button-color-primary-foreground, #fff);
    }

    &:focus {
    }
  }

  &.display-block {
    width: 100%;
  }

  &.submit {
  }

  &[ds-size='small'] {
    font-size: 0.75em;
  }

  &[ds-size='medium'] {
    font-size: 1em;
  }

  &[ds-size='large'] {
    font-size: 1.25em;
  }

  &.icon {
    &.left {
    }

    &.right {
    }
  }
}
