@import '../../scss/_mixins';

.single-with-sidebar {
  grid-template-columns: auto 350px;
  gap: 50px;

  article {
  }

  aside {
    background-color: var(--primary-color);
    color: var(--text-color-default);
    box-sizing: border-box;

    @include selectFontColor(var(--text-color-default));
  }
}
