.ds-input {
  label {
    display: block;
    font-weight: bold;
    line-height: 1.2;
  }
  .help {
    font-weight: normal;
    color: var(--text-color-medium, #999);
  }
  &__input {
    border-radius: var(--border-radius);
    border-color: var(--gray-color-lighter);
    border-style: solid;
    display: flex;
    align-items: center;
    transition: border-color var(--animation-speed-fast);
    padding: 0 var(--spacer-2);
    width: 85ch;

    &.full-width {
      width: 100%;
      max-width: none;
    }

    .ds-icon {
      color: var(--gray-color-light);
      padding-right: var(--spacer-2);
    }

    &.has-error {
      border-color: var(--error-color, #ff0000);
    }

    input {
      display: inline-block;
      padding: 0;
      height: var(--button-height, 45px);
      transition: all var(--animation-speed-fast, 0.25s) var(--animation-easing-linear);
      border: none;
      &:focus {
        outline: none;
      }
    }
  }

  &__input:focus-within {
    border-color: var(--primary-color-light);
  }

  .error {
    color: var(--error-color, #ff0000);
  }
}
