@keyframes fadeIn {
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slideLeft {
}

@keyframes slideRight {
}

@keyframes slideUp {
}

@keyframes slideDown {
}

@keyframes grow {
}

@keyframes shrink {
}

.fade-in {
  animation-name: fadeIn;
  animation-direction: forward;
  animation-play-state: running;
}

.fade-out {
  animation-name: fadeOut;
  animation-direction: normal;
  animation-play-state: running;
}

.slideLeft {
  animation-name: slideLeft;
}

.slideRight {
  animation-name: slideLeft;
}

.slideUp {
  animation-name: slideLeft;
}

.slideDown {
  animation-name: slideLeft;
}

.grow {
  animation-name: grow;
}

.shrink {
  animation-name: shrink;
}
