@keyframes fadeIn {
}

@keyframes fadeOut {
}

@keyframes slideLeft {
}

@keyframes slideRight {
}

@keyframes slideUp {
}

@keyframes slideDown {
}

@keyframes grow {
}

@keyframes shrink {
}

.fadeIn {
    animation-name: fadeIn;
}

.fadeOut {
    animation-name: fadeOut;
}

.slideLeft {
    animation-name: slideLeft;
}

.slideRight {
    animation-name: slideLeft;
}

.slideUp {
    animation-name: slideLeft;
}

.slideDown {
    animation-name: slideLeft;
}

.grow {
    animation-name: grow;
}

.shrink {
    animation-name: shrink;
}
