*,
*:before,
*:after {
  box-sizing: border-box;
}

.ds-radio-button {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  font-size: 1.5rem;

  &:focus-within {
  }

  .radio__label {
    font-size: 1rem;
    line-height: inherit;
    font-weight: normal;
    cursor: pointer;
    width: max-content;
  }

  .radio__input {
    display: flex;

    input {
      opacity: 0;
      width: 0;
      height: 0;

      &:focus + .radio__control {
        box-shadow: 0 0 2em 0.25em rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.ds-radio-button {
  .radio__control {
    display: grid;
    place-items: center;
  }

  input + .radio__control::before {
    content: '';
    width: 0.5em;
    height: 0.5em;
    box-shadow: inset 0.5em 0.5em var(--primary-color);
    border-radius: 50%;
    transition: 180ms transform ease-in-out;
    transform: scale(0);
  }

  input:checked + .radio__control::before {
    transform: scale(1);
  }
}

.radio__control {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid var(--primary-color);
  transform: translateY(-0.05em);
  font-weight: normal;
  cursor: pointer;
}
