.ds-data-table {
  --ds-table-cell-padding: var(--spacer-2);
  background-color: var(--data-table-background-color, #fff);

  .ds_sort__icons {
    display: inline-block;
    line-height: 1;
    vertical-align: top;
    .ds-icon {
      font-size: 1.25em;
      &:first-child {
        margin-bottom: -4px;
      }
      &:hover,
      &.active {
        color: var(--accent-color);
      }
      display: block;
    }
  }

  table {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    tr {
      transition: all 0.25s linear;
      border: 0;
      border-bottom: 1px solid var(--ds-table-row-border-color, transparent);
      &:nth-child(odd) {
        //background-color: #fafafa;
      }
      &:hover {
        td {
          background-color: var(--secondary-color);
        }
      }
      th,
      td {
        padding: var(--ds-table-cell-padding, var(--spacer-2));
      }

      th {
        &.sortable:hover {
          background-color: var(--secondary-color);
          cursor: pointer;
        }
      }

      th,
      tfoot {
        background-color: var(--ds-table-header-background-color, transparent);
        color: rgba(0, 0, 0, 0.85);
        text-align: left;
      }

      td {
        vertical-align: top;
      }

      tfoot {
      }
    }
  }
}
