.ds-checkbox {
  cursor: pointer;

  display: flex;
  align-items: start;

  --checked-state-bg-color: var(--accent-color-lighter);
  --checked-state-check-color: var(--secondary-color-darker);
  --outline-color: var(--gray-color-light);
  --outline-offset: 2px;

  span {
    color: #000;
    vertical-align: middle;
    line-height: 1;
    font-weight: bold;
    font-size: 1.25em;
  }

  input[type='checkbox'] {
    /* remove the checkbox from the page flow, positioning it on top of the SVG */
    position: absolute;
    /* set same dimensions as the SVG */
    width: 1em;
    height: 1em;
    /* hide it */
    opacity: 0;
    cursor: pointer;
  }

  // basic styles for the svg
  svg {
    /* set SVG dimensions in ems; i.e. relative to the font size so that it scales with the size of the font. */
    width: 1.25em;
    height: 1.25em;

    margin-right: 0.5em;

    /* apply a transition to the elements inside the svg */
    * {
      transition: all 0.2s linear;
    }
    vertical-align: middle;

    .cb-bg {
      stroke: var(--gray-color-light);
    }
  }

  input[type='checkbox']:hover + svg {
    cursor: pointer;
    .cb-bg {
      stroke: var(--checked-state-bg-color);
    }
  }

  // style changes inside the svg when the checkbox is checked
  input[type='checkbox']:checked + svg {
    .cb-bg {
      fill: var(--checked-state-bg-color);
      stroke: var(--checked-state-bg-color);
    }

    .cb-cm {
      stroke: var(--checked-state-check-color);
    }
  }

  input[type='checkbox']:focus + svg {
    outline: 3px solid var(--outline-color);
    outline-offset: var(--outline-offset);
  }

  input[type='checkbox']:focus:not(:focus-visible) + svg {
    outline: none;
  }

  /* WHCM styles */
  svg {
    @media screen and (-ms-high-contrast: active) {
      rect {
        stroke: windowText;
      }
    }
  }

  @media screen and (-ms-high-contrast: active) {
    input[type='checkbox']:checked ~ svg {
      rect {
        fill: windowText;
      }

      polyline {
        stroke: highlight;
      }
    }
  }

  &.has-error {
    margin-bottom: var(--spacer-2);
  }
  .error {
    color: var(--error-color, #ff0000);
  }
}
